{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Analyzer Home {% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Enter a videogame title below to retrieve its details</p>


<form method="post">
    <div class = "row">
        <div class = "col-9">
            <input name="gametitlesearch" class="form-control" type="search" placeholder="Search" aria-label="Search" id="gametitlesearch" value="{{ request.form['gametitlesearch'] }}" required>
        </div>
        <div class = "col-3 d-grid">
            <button class="btn btn-primary btn-block" type="submit" >Search</button>
        </div>
    </div>
</form>


<p>This page extends the "base.html" file and inserts its various "blocks" (header, title and content) into the locations laid out for those blocks.</p>
<p>This behaves similar to the '_Layout' feature in ASP.NET and allows you to easily keep a consistent theme across many pages and reuse elements like navbars.</p>
<p>It can also display variables and information that is passed in to the view from the corresponding 'index' Blueprint action from the 'sample.py' module by calling the variable with double curly braces</p>
<p>This following line is the 'message' variable from the index action:</p>

{{ game }}

    {% for game in foundgame %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ game['name'] }} </h5>
            <p class="card-text">{{game['platform'] }} - {{game['year'] }} - {{game['publisher'] }}</p>
              <form class="detail-btn" action="/gamedetails" method="post">
                  <input type="hidden" id="gameid" name="gameid" value="{{ game['_id'] }}">
                  <button type="submit" class="btn btn-primary">Details</button>
              </form>
          </div>
        </div>
    {% endfor %}

<p>(Always remember to close off your ifs and your loops!)</p>
{% endblock %}