{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class = "row">
    <div class ="col-1"></div>
    <div class ="col-10"><canvas id="salesChart13" width="400px" height="400px"></canvas></div>
    <div class ="col-1"></div>
</div>

<script src="./../../static/Chart.js"></script>
<script>
    var ctx = document.getElementById('salesChart13');
    var salesChart13 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for platform in platforms13 %}'{{ platform }}'{% if not loop.last %}, {% endif %}{% endfor %}],
            datasets: [{
                label: 'Millions of Game Copies Sold',
                data: [{% for salesfig in sales13 %}{{ salesfig }}{% if not loop.last %}, {% endif %}{% endfor %}],
                backgroundColor: [{% for each in platforms13 %}'#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6){% if not loop.last %}, {% endif %}{% endfor %}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: true,
                text: 'Game Sales Per Platform Since 2013'
            }
        }
    });

</script>


{% endblock %}
